<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>sp900</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/yanbai01/Development/sp900/get_sp900.py</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
      <key>PYTHONPATH</key>
      <string>/Users/yanbai01/Development/sp900</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
        <key>Minute</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>13</integer>
        <key>Weekday</key>
        <integer>1-5</integer>
  </dict>
  <key>UserName</key>
  <string>yanbai01</string>
  <key>WorkingDirectory</key>
  <string>/Users/yanbai01/Development/sp900</string>
  <key>StandardOutPath</key>
  <string>/Users/yanbai01/Development/sp900/stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/yanbai01/Development/sp900/stderr.log</string>
</dict>
</plist>
